@using System.Security.Cryptography
@model IEnumerable<TwitterBackup.Web.Models.TweeterViewModels.TweeterViewModel>


<!DOCTYPE html>

<html>
<head>
    <title>$title$</title>
</head>
<body>
    <div>
        <h1>Search Results</h1>
        @{
            if (Model != null)
            {
                <div class="">
                    <div class="row">
                        @{
                            foreach (var tweeterViewModel in Model)
                            {
                                await Html.RenderPartialAsync("_FavouriteTweeter", tweeterViewModel);
                            }
                        }
                    </div>
                </div>
            }
            else
            {
                <h1>Not results found.</h1>
            }
        }
    </div>
</body>
</html>


@section Scripts {
    <script>
        $(function () {
            $('.tweeter-form').on('submit',
                function (event) {

                    event.preventDefault();

                    var url = this.action;
                    var data = $(this).serialize();
                    var tweeterId = this.getAttribute('tweeter-id');

                    $.post(url, data, function (response) {


                        if (String(response) === "success") {

                            var tweeterBtn = $('#' + tweeterId);

                            console.log(this);
                            console.log(tweeterBtn);
                            if (tweeterBtn.hasClass('btn-following')) {
                                tweeterBtn.removeClass('btn-following');
                                tweeterBtn.addClass('btn-follow');
                                tweeterBtn.text('Follow');
                            } else {
                                tweeterBtn.removeClass('btn-follow');
                                tweeterBtn.addClass('btn-following');
                                tweeterBtn.text('Following');
                            }

                        } else {
                            alert('failure');
                        }
                    });

                });
        });
    </script>
}
