@using TwitterBackup.Web.Models.TweeterViewModels
@model IEnumerable<TwitterBackup.Web.Models.TweeterViewModels.TweeterViewModel>

@{
    ViewData["Title"] = "Index";
}


<b style="color: red">@TempData["Result"]</b>

@*Modal PopUp of PartialView goes here*@
<div id="remove-modal" class="modal fade hidden-print" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" style="padding: 10%; background-color: blanchedalmond">


        </div>
    </div>
</div>

<div id="edit-tweeter-modal-container" class="modal fade hidden-print" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" style="padding: 10%">


        </div>
    </div>
</div>


@{
    if (Model != null)
    {
        <table class="table">
            <tbody>
                <tr>
                    <td>
                        @foreach (var tweeterViewModel in Model)
                        {
                            await Html.RenderPartialAsync("_FavouriteTweeter", tweeterViewModel);
                        }
                    </td>
                </tr>
            </tbody>
        </table>
    }
    else
    {
        <h1>No results found.</h1>
    }
}



@section Scripts
    {
    <script src="/js/btn-follow-following.js"></script>
    <script src="/js/btn-follow-hover.js"></script>
}

