@using System.Security.Cryptography
@model IEnumerable<TwitterBackup.Web.Models.TweeterViewModels.TweeterViewModel>


<!DOCTYPE html>

<html>
<head>
    <title>$title$</title>
</head>
<body>
    <div>
        <h1>Search Results</h1>
        @{
            if (Model.Any())
            {
                <div class="">
                    <div class="row">
                        @{
                            foreach (var tweeterViewModel in Model)
                            {
                                await Html.RenderPartialAsync("_FavouriteTweeter", tweeterViewModel);
                            }
                        }
                    </div>
                </div>
            }
            else
            {
                <h1>Not results found.</h1>
            }
        }
    </div>

    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content" id="error-modal">
                <div class="modal-header" style="background-color: red; color:white">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h2 class="modal-title">Error</h2>
                </div>
                <div class="modal-body">
                    <h4 class="modal-error-message"></h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</body>
</html>


@section Scripts {


    <script>
        $(function () {
            $(document).on('submit', '.tweeter-form',
                function (event) {
                    event.preventDefault();

                    var url = this.action;
                    var data = $(this).serialize();
                    var tweeterId = this.getAttribute('tweeter-id');
                    var form = $(this);

                    $.post(url, data, function (response) {

                        if (response !== 'success') {

                            console.log(response);
                            //add error modal
                            var modalContent = $('#error-modal');
                            var modalErrorMessage = $('.modal-error-message');
                            modalErrorMessage.text(response);

                            modalContent.load(url,
                                function () {
                                    var modal = $('.modal');
                                    modal.modal('show');
                                });
                            return;
                        }

                        var tweeterBtn = $('#' + tweeterId);

                        tweeterBtn.toggleClass('btn-following');
                        tweeterBtn.toggleClass('btn-follow');

                        if (tweeterBtn.hasClass('btn-follow')) {
                            form.attr('action', '/FavouriteTweeters/AddTweeterToFavourite');
                            tweeterBtn.html('<i class="fa fa-twitter"></i> Follow');
                        } else {
                            form.attr('action', '/FavouriteTweeters/RemoveTweeterFromFavourite');
                            tweeterBtn.html('<i class="fa fa-twitter"></i> Following');
                        }

                        //var tweeterCard = $('#' + tweeterId).closest('.tweeter-card');
                        //tweeterCard.replaceWith(response);
                    });
                });
        });

    </script>

    <script>
        $(document).on("mouseenter", ".btn-following", function () {
            var btn = $(this);

            btn.css("background-color", "red");
            btn.html('Unfollow');
        });

        $(document).on("mouseleave", ".btn-following", function () {
            var btn = $(this);

            btn.html('<i class="fa fa-twitter"></i> Following');
            btn.css("background-color", "#427fed");
        });

        $(document).on("mouseenter", ".btn-follow", function () {
            var btn = $(this);
            btn.css("background-color", "#E8F5FD");

        });

        $(document).on("mouseleave", ".btn-follow", function () {
            var btn = $(this);
            btn.css("background-color", "white");
        });
    </script>
}
