@using System.Collections
@using Remotion.Linq.Parsing.Structure.NodeTypeProviders
@using TwitterBackup.Web.Areas.Admin.Models
@model IEnumerable<TwitterBackup.Web.Areas.Admin.Models.UserViewModel>


@{
    ViewData["Title"] = "Index";
}

@if (Model != null)
{
    <form asp-action="Index" method="get">
        <div class="form-actions no-color" style="margin-top: 60px; position:relative">
            <p>
                <input type="text" class="form-control" style="width: 30%; min-width: 100px" placeholder="Enter any string to search for user" name="SearchString" value="@ViewData["currentFilter"]" />
                <input type="submit" value="Search" class="btn btn-info" /> |
                <a asp-action="Index">Back to Full List</a>
            </p>
        </div>
    </form>

    <div class="container">
        <div class="row">


            <div class="col-md-12">
                <div class="table-responsive">

                    <table id="mytable" class="table table-striped">
                        <thead>
                            <tr>
                                <th>UserName</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Date Created</th>
                                <th>Email</th>
                                <th>Edit</th>
                                <th>Delete</th>
                                <th>Tweeters</th>
                                <th>Tweets</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var user in Model)
                            {
                                @Html.Partial("_ActiveUsers", user)
                            }
                        </tbody>

                    </table>
                    <div class="clearfix"></div>
                </div>

            </div>
        </div>
    </div>

}

<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">


        </div>
    </div>
</div>

<div class="modal fade" id="tweeters" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">


        </div>
    </div>
</div>


<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Delete this entry</h4>
            </div>
            <div class="modal-body">

                <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Are you sure you want to delete this Record?</div>

            </div>
            <div class="modal-footer ">
                <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-ok-sign"></span> Yes</button>

                <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div id="alert-modal-success" class="modal fade hidden-print" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" id="alert-modal-success-content" style="padding: 10%; background-color: blanchedalmond">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
            <h3 style="position: center" alert-modal-success-content>Operation executed successfully!</h3>
        </div>
    </div>
</div>


<div id="alert-modal-failure" class="modal fade hidden-print" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content" id="alert-modal-failure-content" style="padding: 10%; background-color: blanchedalmond">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
            <h3 id="alert-modal-failure-message" style="position: center"></h3>

        </div>

    </div>
</div>


@section Scripts {

    @*<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.0.min.js"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>*@


    @Html.Partial("_ValidationScriptsPartial")


    <script src="/js/delete-user.js"></script>
    <script src="/js/edit-user.js"></script>
    <script src="/js/clear-modal-popup-data-on-close.js"></script>

}
