<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="brand-heading">Twitter<br /> backup</h1>
                    <p class="intro-text">
                        Enjoy your favourite tweets.
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>
